.button {
    background-color: rgb(76, 109, 175); /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 30%;
}
.button1 {border-radius: 60px;}

.w3-card-4:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
}

h2{
    text-align: center;
}